bin/**
include/**
lib/**
lib64
lib64/**
pyvenv.cfg
app.log
**/__pycache__

# Databases required for calculating the amount of tokens for example databases:
utilities/tokenizer/*.csv
utilities/tokenizer/wdi_data/